/* __________________ Variables __________________ */
/* __________________ Reset styles __________________ */
* { margin: 0; padding: 0; border: 0; font-size: 100%; color: inherit; box-sizing: border-box; line-height: inherit; }

/* __________________ General Tags __________________ */
html { max-width: 100vw; scroll-behavior: unset; position: relative; font-smooth: antialiased; -webkit-font-smoothing: antialiased; font-size: 18px; font-family: 'Montserrat', sans-serif; }

body { width: 100%; height: 100%; position: relative; z-index: 1; padding-top: 100px; }

section { position: relative; z-index: 5; width: 100%; max-width: 100vw; }

h1 { font-family: 'Helvetica Neue', sans-serif; }

h2 { font-family: 'Helvetica Neue', sans-serif; }

h3 { font-family: 'Helvetica Neue', sans-serif; }

h4 { font-family: 'Helvetica Neue', sans-serif; }

h5 { font-family: 'Helvetica Neue', sans-serif; }

h6 { font-family: 'Helvetica Neue', sans-serif; }

h1 { font-size: 109.5px; }

h2 { font-size: 54.7px; }

h3 { font-size: 48px; }

h4 { font-size: 24px; }

ul { display: flex; align-items: center; justify-content: space-between; }

li, span { display: block; }

a { display: block; text-decoration: none; transition: all 0.2s linear; }

svg { transition: all 0.2s linear; }

svg path { transition: all 0.2s linear; fill: inherit; }

svg, img { width: 100%; height: auto; }

button, [type=submit], .button { padding: 19px 27px; font: 14px 'Gotham Pro', sans-serif; text-align: center; text-transform: uppercase; transition: all 0.2s linear; }

/* __________________ General Classes __________________ */
.wrapper { width: 80%; margin: 0 auto; position: relative; z-index: 5; }

@keyframes bannerFigure1 { 0% { opacity: 0;
    transform: translate(-30%, -30%); }
  100% { opacity: 1;
    transform: translate(0, 0); } }

header { height: 100px; position: fixed; top: 0; left: 0; width: 100vw; z-index: 500; background-color: #0e101a; color: #ffffff; font-family: 'Gotham Pro', sans-serif; }

header .wrapper { padding: 22px 0 31px; display: flex; align-items: center; justify-content: space-between; }

header .logo_delicate { width: 136px; height: 41px; }

header .logo_delicate svg path.delicate { fill: #ffc700; }

header .logo_delicate svg path.car { fill: #e0e0e0; }

header nav { font-size: 11px; letter-spacing: -0.17px; color: #f2f2f2; }

header nav .nav_item { position: relative; padding: 10px; }

header nav .nav_item:not(:first-child) { margin-left: 32px; }

header nav .nav_item:hover .nav_sublist { opacity: 1; visibility: visible; }

header nav .nav_link:hover { color: #ffc700; }

header nav .nav_sublist { position: absolute; z-index: 100; top: 100%; left: 50%; transform: translate(-50%, 0); width: auto; max-width: 200px; background-color: rgba(14, 16, 26, 0.8); display: block; padding: 10px 0; transition: all 0.2s linear; opacity: 0; visibility: hidden; }

header nav .nav_subItem { padding: 10px; }

header nav .nav_subLink:hover { color: #ffc700; }

header .phones p, header .schedule p { font-size: 11px; letter-spacing: -0.17px; color: #f2f2f2; }

header .phones a, header .phones span, header .schedule a, header .schedule span { margin-top: 7px; font-size: 14px; line-height: 1.19; color: #ffc700; }

header .socials a svg { fill: #eaeaea; }

header .socials a:hover svg { fill: #ffc700; }

header button.open_request { background-color: #ffc700; color: #000000; cursor: pointer; }

header button.open_request:hover { background-color: #4f3e05; }
