header
	height: $header_height * 1px
	position: fixed
	top: 0
	left: 0
	width: 100vw
	z-index: 500
	background-color: $dark
	color: $w
	font-family: 'Gotham Pro', sans-serif
	.wrapper
		padding: 22px 0 31px
		display: flex
		align-items: center
		justify-content: space-between
	.logo_delicate
		svg
			width: 136px
			height: 41px
			path
				&.delicate
					fill: $yellow
				&.car
					fill: #e0e0e0
	nav
		font-size: 11px
		letter-spacing: -0.17px
		color: #f2f2f2
		.nav_item
			position: relative
			&:not(:first-child)
				margin-left: 22px
			&:hover .nav_sublist
				opacity: 1
				visibility: visible
		.nav_link
			padding: 15px
			svg
				width: 10px
				height: 6.6px
				fill: none
				stroke: #F2F2F2
			&:hover
				color: $yellow
				svg
					stroke: $yellow
		.nav_sublist
			position: absolute
			z-index: 100
			top: 90%
			left: 50%
			transform: translate(-50%, 0)
			width: auto
			max-width: 200px
			background-color: rgba($dark, 0.8)
			display: block
			text-align: center
			transition: all 0.2s linear
			opacity: 0
			visibility: hidden
		.nav_subItem
			padding: 10px
		.nav_subLink:hover
			color: $yellow
	.phones, .schedule
		p
			font-size: 11px
			letter-spacing: -0.17px
			color: #f2f2f2
		a, span
			margin-top: 7px
			font-size: 14px
			line-height: 1.19
			color: $yellow
		a:hover
			color: $dyellow
	.socials a
		svg
			fill: #eaeaea
		&:hover svg
			fill: $yellow
	.open_request
		background-color: $yellow
		color: $b
		cursor: pointer
		&:hover
			background-color: $dyellow

