
/* __________________ Variables __________________ */

$tsp: 		#00000000
$w: 			#ffffff
$b: 			#000000

$yellow:	#ffc700
$dyellow:	#4f3e05
$dyellow2:	#574a1d
$dark:		#0e101a
$ldark:		#27262d
$grey:		#eaeaea

$header_height: 100px
$header_height_mob: 64px
$skew: 10deg

/* __________________ Mixins __________________ */

@mixin tr
	transition: all 0.3s ease-in-out

/* __________________ Reset styles __________________ */

*
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	color: inherit
	box-sizing: border-box
	line-height: inherit

/* __________________ General Tags __________________ */

html
	max-width: 100vw
	scroll-behavior: unset
	position: relative
	font-smooth: antialiased
	-webkit-font-smoothing: antialiased
	font-size: 18px
	font-family: 'Montserrat', sans-serif

body
	width: 100%
	height: 100%
	position: relative
	z-index: 1
	padding-top: calc( #{$header_height} - 5px )
	background-color: $dark

section
	position: relative
	z-index: 5
	max-width: 100vw
	overflow: hidden
	color: $w
	h3
		text-align: center
		font-weight: normal
		display: flex
		justify-content: center
		align-items: center
		width: max-content
		margin: 0 auto
		position: relative
		font-weight: normal
		line-height: 1.25
		&::before
			content: url('../img/header_line_left.svg')
			width: 85px
			height: 12px
			display: flex
			margin-right: 22px
		&::after
			content: url('../img/header_line_right.svg')
			width: 85px
			height: 12px
			display: flex
			margin-left: 22px


@for $i from 1 through 6
  h#{$i}
    font-family: 'HelveticaNeueCyr', sans-serif
@for $i from 1 through 6
  h#{$i}
    text-transform: uppercase

h1
	font-size: 109.5px
h2
	font-size: 54.7px
h3
	font-size: 48px
h4
	font-size: 24px
h5
	font-size: 16.5px

ul
	display: flex
	align-items: center
	justify-content: space-between
li, span
	display: block

a
	display: block
	text-decoration: none
	transition: all 0.2s linear

svg
	transition: all 0.2s linear
	path
		transition: all 0.2s linear
	&:not(.native) path
		fill: inherit
img
	width: 100%
	height: auto

button, [type=submit], .button
	padding: 19px 27px
	font: 14px 'Gotham Pro', sans-serif
	text-align: center
	text-transform: uppercase
	cursor: pointer
	transition: all 0.2s linear

/* __________________ General Classes __________________ */

.wrapper
	width: 80%
	margin: 0 auto
	position: relative
	z-index: 5

.slick-disabled
	opacity: 0.2
	pointer-events: none

